API_PORT=4000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=perfumeria
DB_SSL_MODE=DISABLED
DB_SSL_REJECT_UNAUTHORIZED=true
# Pega aqui el CA certificate de Aiven si lo vas a usar
# DB_SSL_CA=-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----
REACT_APP_API_URL=http://localhost:4000/api
